
.row {
  @include grid-row;

  &.collapse {
    > .column,
    > .columns {
      @include grid-column($collapse: true, $float: false);
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .row {
    @include grid-row($behavior: nest);
    &.collapse {
      @include grid-row($behavior: nest-collapse);
    }
  }
}

.column,
.columns {
  @include grid-column($columns: $total-columns);
}

.column,
.columns {
  & + &:last-child {
    float: $last-child-float;
  }
  & + &.end {
    float: $default-float;
  }
}

@media #{$small-up} {
  @include grid-html-classes($size: small);
}

@media #{$medium-up} {
  @include grid-html-classes($size: medium);
  // Old push and pull classes
  //@for $i from 0 through $total-columns - 1 {
  //  .push-#{$i} {
  //    @include grid-column($push:$i, $collapse:null, $float:false);
  //  }
  //  .pull-#{$i} {
  //    @include grid-column($pull:$i, $collapse:null, $float:false);
  //  }
  //}
}

@media #{$large-up} {
  @include grid-html-classes($size: large);
  //@for $i from 0 through $total-columns - 1 {
  //  .push-#{$i} {
  //    @include grid-column($push:$i, $collapse:null, $float:false);
  //  }
  //  .pull-#{$i} {
  //    @include grid-column($pull:$i, $collapse:null, $float:false);
  //  }
  //}
}
