//// toolbar styles
//
//.icon-bar {
//  @include icon-bar;
//
//  // Counts
//
//  &.two-up {
//    .item {
//      width: 50%;
//    }
//    //&.vertical .item, &.small-vertical .item {
//    //  width: auto;
//    //}
//    //&.medium-vertical .item {
//    //  @media #{$medium-up} {
//    //    width: auto;
//    //  }
//    //}
//    //&.large-vertical .item {
//    //  @media #{$large-up} {
//    //    width: auto;
//    //  }
//    //}
//  }
//  //&.three-up {
//  //  .item { width: 33.3333%; }
//  //  &.vertical .item, &.small-vertical .item { width: auto; }
//  //  &.medium-vertical .item {
//  //    @media #{$medium-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //  &.large-vertical .item {
//  //    @media #{$large-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //}
//  //&.four-up {
//  //  .item { width: 25%; }
//  //  &.vertical .item, &.small-vertical .item { width: auto; }
//  //  &.medium-vertical .item {
//  //    @media #{$medium-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //  &.large-vertical .item {
//  //    @media #{$large-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //}
//  //&.five-up {
//  //  .item { width: 20%; }
//  //  &.vertical .item, &.small-vertical .item { width: auto; }
//  //  &.medium-vertical .item {
//  //    @media #{$medium-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //  &.large-vertical .item {
//  //    @media #{$large-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //}
//  //&.six-up {
//  //  .item { width: 16.66667%; }
//  //  &.vertical .item, &.small-vertical .item { width: auto; }
//  //  &.medium-vertical .item {
//  //    @media #{$medium-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //  &.large-vertical .item {
//  //    @media #{$large-up} {
//  //      width: auto;
//  //    }
//  //  }
//  //}
//  //&.seven-up {
//  //  .item { width: 14.28571%; }
//  //  &.vertical .item, &.small-vertical .item { width: auto; }
//  //  &.medium-vertical .item {
//  //    @media #{$medium-up} {
//  //          width: auto;
//  //    }
//  //  }
//  //  &.large-vertical .item {
//  //    @media #{$large-up} {
//  //       width: auto;
//  //    }
//  //  }
//  //}
//  //&.eight-up {
//  //  .item { width: 12.5%; }
//  //  &.vertical .item, &.small-vertical .item { width: auto; }
//  //  &.medium-vertical .item {
//  //    @media #{$medium-up} {
//  //          width: auto;
//  //    }
//  //  }
//  //  &.large-vertical .item {
//  //    @media #{$large-up} {
//  //       width: auto;
//  //    }
//  //  }
//  //}
//}
