.aside_full_ {
  min-height: 100vh;
  padding-top: rem-calc(37);
  &.fixed {
    position: fixed;
    z-index: 0;
    left: (100% / 12 * 8);
    max-width: ($row-width / 12 * 4);
    @media #{$large} {
      left: (100% / 12 * 9);
      max-width: ($row-width / 12 * 3);
    }
    @media (min-width: 1170px) {
      left: calc(((100vw - #{$row-width}) / 2) + (#{$row-width} * 0.75));
    }
  }
  .info_ {
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding-top: rem-calc(8);
      margin-bottom: rem-calc(25);
      color: #626262;
    }
    h3 {
      margin-top: 0;
      padding-top: rem-calc(16);
      margin-bottom: rem-calc(34);
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      a {
        color: black;
      }
    }
  }
  .badge_ {
    display: block;
    height: 125px;
    overflow: hidden;
    img {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
    }
  }
  .social_box_ {
    float: left;
    display: block;
    > li {
      display: block;
      float: left;
      margin-right: 5px;
      .fb-like {
        > span {
          vertical-align: top !important;
        }
      }
    }
  }
}

.googlead_ {
  margin-bottom: 34px;
  padding:rem-calc(0 10);
}

.ig-background {
  cursor: pointer;
  background: rgb(81, 129, 166); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(81, 129, 166, 1) 0%, rgba(47, 82, 131, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(81, 129, 166, 1)), color-stop(100%, rgba(47, 82, 131, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(81, 129, 166, 1) 0%, rgba(47, 82, 131, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(81, 129, 166, 1) 0%, rgba(47, 82, 131, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(81, 129, 166, 1) 0%, rgba(47, 82, 131, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(81, 129, 166, 1) 0%, rgba(47, 82, 131, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5181a6', endColorstr='#2f5283', GradientType=0); /* IE6-9 */
  padding: 1px 5px;
  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px 0px #7fa4bf, 0px 0px 1px 0px #333;
  border: 1px solid #2f5283;
  vertical-align: top;
  font-family: Arial;
  font-size: 10px;
  a {
    color: white;
  }
  &:active {
    background: rgb(47, 82, 131); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(47, 82, 131, 1) 0%, rgba(81, 129, 166, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(47, 82, 131, 1)), color-stop(100%, rgba(81, 129, 166, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(47, 82, 131, 1) 0%, rgba(81, 129, 166, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(47, 82, 131, 1) 0%, rgba(81, 129, 166, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(47, 82, 131, 1) 0%, rgba(81, 129, 166, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(47, 82, 131, 1) 0%, rgba(81, 129, 166, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f5283', endColorstr='#5181a6', GradientType=0); /* IE6-9 */
    box-shadow: inset 0px -1px 0px 0px #7fa4bf, 0px 0px 1px 0px #333;
  }
}

