.modal_post_ {

  .head_ {
    .title_ {
      margin: 0 0 10px;
      color: black;
      font-size: 24px;
      font-weight: 700;
      line-height: 25px;
    }
    .subtitle_ {
      margin: 0 0 15px;
      color: #999;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
    }
  }
  .zone_ {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 184px;
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 1, 0.35);
    margin-bottom: 12px;
    &.link_ {
      min-height: 244px;
      position: relative;
      padding-bottom: 68px;
      margin-bottom: 20px;
    }
    &:not(.link_) {
      cursor: pointer;
      padding: 10px;
    }
    .fieldgroup_ {
      position: absolute;
      bottom: 21px;
      left: 0;
      width: 100%;
      padding: 0 20px;
      input {
        margin: 0;
        width: 100%;
        background-color: white;
        border: 2px solid rgba(241, 241, 241, 0.59);
      }
    }
    &.loading {
      & > div:not(.preloader_) {
        opacity: 0.5;
      }
      .preloader_ {
        display: block;
      }
    }
  }
  h5 {
    margin: 18px 0 0;
    color: #999;
    font-weight: 400;
    line-height: 1;
  }
  button[type=submit] {
    float: right;
    margin: 0;
    i:before {
      margin-right: -10px;
      transform-origin: center;
      transform: rotate(-90deg);
    }
  }
  .confirmation_ {
    opacity: 1;
    transition: opacity 0.3s;
    &.wait_server_ {
      opacity: 0.2;
    }
    .picture_ {
      border: 1px solid #999;
      float: left;
      width: 150px;
    }
    .placehold_ {
      height: 150px;
      i {
        font-size: 20px;
      }
    }
    .in_ {
      margin-left: 170px;
    }
    textarea {
      height: 150px;
    }
    .foot_ {
      clear: both;
      button {
        margin-left: 10px;
      }
    }
    button.prev_ {

      i:before {
        transform: rotate(90deg);
        margin-left: -10px;
      }
    }
    .validation_ {
      @include alert($alert-color);
    }
  }

  .preloader_ {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    i {
      &:before {
        margin: 0;
        font-size: 25px;
      }
    }
  }
  .zone_.link_ {
    &.loading {
      & > *:not(.preloader_) {
        opacity: 0.5;
      }
      .preloader_ {
        display: block;
      }
    }
  }
  .row.row_nsfw_ {
    width: auto;
    overflow: hidden;
    margin-left: 170px;
  }
}