.post_nav_ {
  $bg: #dd4b39;
  $border-bg: #e8e8e8;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: $bg;
    border: 1px solid $border-bg;
    color: white;
    font-family: $second-font-family;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    position: relative;
    @media #{$medium} {
      font-size: 14px;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      border: 29px solid transparent;
    }
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: -1px;
      border: 30px solid transparent;
    }
    &.prevPost {
      margin-left: 30px;
      padding: 0 5px 0 0;
      @media #{$medium} {
        padding: 0 21px 0 15px;
      }
      &:after {
        right: 100%;
        border-left-width: 0;
        border-right-color: $bg;
      }
      &:before {
        left: -31px;
        border-left-width: 0;
        border-right-color: $border-bg;
      }
    }
    &.nextPost {
      margin-left: 0;
      margin-right: 30px;
      padding: 0 0 0 5px;
      @media #{$medium} {
        margin-left: 9px;
        padding: 0 15px 0 21px;
      }
      &:after {
        left: 100%;
        border-right-width: 0;
        border-left-color: $bg;
      }
      &:before {
        right: -31px;
        border-right-width: 0;
        border-left-color: $border-bg;
      }
    }
  }
}

.post_ {

  padding-top: 36px;
  h1 {
    margin: 0 0 13px;
    font-weight: 700;
    @include text-overflow();
  }
  p {
    margin-bottom: 10px;
    width: 184px;
    height: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #666;

  }
  .bar_ {
    margin-bottom: 43px;
    float: left;
    clear: left;

    @media #{$medium} {
      margin-right: 5px;
    }

    .button {
      padding: 0;
    }

    ul {
      float: left;

      &.actions_ {
        padding-left: 1px;
        margin-right: 9px;

        li {
          margin: 0 -1px;
          border-left: 1px solid #e8e8e8;
        }
      }
    }
    .button {
      border: 1px solid #e8e8e8;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      margin-bottom: 0;
      color: black;
      font-size: 30px;
      background-color: #fff;
      &:hover, &.active {
        background-color: $orange;
        color: white;
      }
    }
  }
  .post_nav_ {
    clear: left;
    margin-bottom: 23px;
  }
  .pic_ {
    max-width: 100%;
    margin-bottom: 20px;
    @extend %pic_;
    //display: block;
    video {
      margin: auto;
      max-width: 100%;
    }
  }
  .imageloader {
    display: block;
  }
  .share_ {
    li {
      margin: 0;
      width: 50%;
    }
    .button {
      padding: 0 10px;
      border: 1px solid #e8e8e8 !important;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
        color: white;
        font-size: 30px;
        font-weight: 400;
        line-height: 25px;
        margin-right: 0;
        vertical-align: middle;
        @media #{$medium} {
          margin-right: 15px;
        }
        &:before {
          margin: 0;
        }
      }
      span {
        text-align: left;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: none;
      }
      @media #{$small-only} {

        span {
          display: none;
        }
      }
    }
  }
  .foot_ {
    clear: both;
    width: 100%;
    & + hr {
      margin: 0;
    }
  }
  .gif_ {
    video {
      margin: auto;
      display: block;
      max-width: 100%;
      &::-webkit-media-controls {
        display: none !important;
      }
    }
    .gif_wrap_ {
      line-height: 0;
      font-size: 0;
    }
    .control_ {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s;
      &.paused_ {
        opacity: 1;
      }
      span {
        background: rgba(0, 0, 0, 0.5);
        width: 50px;
        height: 50px;
        color: #fff;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 90;
        top: 50%;
        left: 50%;
        font-size: 14px;
        line-height: 1;
        border: 4px solid #fff;
        transform: translate(-50%, -50%);
      }
    }
  }
  .delete_post_ {
    color: #626262;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: rem-calc(0 0 17);
    i {
      color: #e67e22;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
    }

  }
  .report_post_ {
    float: right;
    font-size: 14px;
    clear: both;
    font-weight: 700;
    line-height: 14px;
    padding: 18px 0 14px 17px;
    color: #626262;
    border-bottom: 4px solid transparent;
  }
}

@import "commentsBox";

