.no_results_ {
  .title_ {
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: rem-calc(65) 0 rem-calc(5);
  }
  .subtitle_ {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 rem-calc(10);
  }
}