.settings_ {

  // Aside Navigation
  .aside_nav_ {
    padding-top: rem-calc(36);

    .button {
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      font-family: $font-family-sans-serif;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 0;
      border-radius: 2px;
      padding-top: rem-calc(14.5);
      padding-bottom: rem-calc(15.5);

      &.active:focus {
        background-color: $orange;
      }

      &:not(.active) {
        color: #626262;
        background-color: transparent;

      }
    }
  }

  // Account Settings
  .account_ {

    select {
      display: block;
      max-width: rem-calc(130);
    }

  }
  .button[type=submit] {
    display: block;
  }

  // common
  .del_account_ {
    float: left;
    clear: left;
    color: $lightred;
    font-weight: 400;
    text-decoration: underline;
  }

  .bl_ {
    display: block;
  }

  form {
    margin-bottom: 20px;
  }
  .connect_ {
    margin-bottom: 20px;
    > .column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 39px;
      background: #f9f9f9;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .title_ {
      margin: 0;
      color: #666;
      line-height: 39px;
    }
    a {
      margin: 0;
    }
  }
}

.delete_account_ {
  min-height: calc(100vh - 146px);
  display: flex;
  justify-content: center;
  align-items: center;

  html.no-flexboxlegacy & {
    height: calc(100vh - 146px);
  }

  & > .row {
    margin: 0;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    color: #333;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 962px;
    margin: 0 auto 20px;
  }

  textarea {
    display: inline-block;
    width: 624px;
    max-width: 100%;
    height: 104px;
    resize: none;
    background-color: white;
    border: 1px solid #cecece;
    border-radius: 2px;
    box-shadow: inset 0 -10px 7px rgba(0, 0, 0, 0.02);
  }
  .button {
    margin-left: 10px;
    margin-right: 10px;
  }
}


