.wrap_text_ {
  background-color: white;
  border: 2px solid rgba(241, 241, 241, 0.59);
  border-radius: 6px;
  margin-top: 36px;
  padding: 22px 23px 0;
  h1 {
    font-weight: 700;
    line-height: 25px;
    margin: 0;
  }
  hr {
    margin: 15px auto 20px;
  }
  p {
    margin-bottom: 25px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
  }
}