<form action="" class="login_form_" data-abide>
    <div class="row_ collapse merge_fields_">
        <div class="small-12 columns">
            <input type="email" required placeholder="Your Email"/>
            <small class="error">An email address is required.</small>
        </div>
        <div class="small-2 columns">
            <span class="postfix"><i class="icon-email"></i></span>
        </div>
    </div>
    <div class="row_ collapse merge_fields_">
        <div class="small-12 columns">
            <input type="password" id="password" required pattern="[a-zA-Z]+" placeholder="Password" />
            <small class="error">Your password must match the requirements</small>
        </div>
        <div class="small-2 columns">
            <span class="postfix"><i class="icon-lock"></i></span>
        </div>
        <div class="small-12 columns">
            <a href="#" class="right" tabindex="-1">Forgot password?</a>
        </div>
    </div>
    <div class="row_ collapse">
        <div class="columns">
            <input type="submit" class="button expand" value="Login"/>
        </div>
    </div>
    <div class="row_ collapse">
        <p class="text-center">Or login with</p>
        <div class="social-row_">
            <a class="item button facebook">
                <i class="icon-facebook"></i>
            </a>
            <a class="item button gplus">
                <i class="icon-gplus"></i>
            </a>
        </div>
    </div>
</form>