<h1 class="page_title_">Privacidade</h1>
<hr/>
<h3>Introdu&ccedil;&atilde;o</h3>
<p>Unicorno Technologies LLC. &nbsp;(&ldquo;Unicorno&rdquo;) trata as suas informa&ccedil;&otilde;es pessoais de maneira muito s&eacute;ria. Essa pol&iacute;tica de privacidade descreve como ser&atilde;o tratadas as informa&ccedil;&otilde;es coletadas pela Unicorno quando voc&ecirc;
   visita ou acessa o nosso website. Por favor, leia esses termos atentamente.</p>
<h3>Visitantes do Site</h3>
<p>Como a maioria dos operadores de sites, a Unicorno coleta informa&ccedil;&otilde;es sem identifica&ccedil;&atilde;o pessoal, normalmente disponibilizadas pelos navegadores e servidores, tais como o tipo de navegador, o idioma de prefer&ecirc;ncia, sites pesquisados, bem como a data e hora de uso e acesso de cada um de seus visitantes. A finalidade da coleta desse tipo de informa&ccedil;&atilde;o &eacute;
   compreender melhor de que forma os visitantes do Unicorno usam o website. Periodicamente, a Unicorno poder&aacute;
   divulgar informa&ccedil;&otilde;es sem identifica&ccedil;&atilde;o pessoal de forma agregada, por exemplo, por meio da publica&ccedil;&atilde;o de relat&oacute;rios sobre as tend&ecirc;ncias de uso em seu website.</p>
<p>A Unicorno tamb&eacute;m coleta algumas informa&ccedil;&otilde;es de poss&iacute;vel identifica&ccedil;&atilde;o pessoal, como o endere&ccedil;o IP (Protocolo de Internet), uma identifica&ccedil;&atilde;o &uacute;nica que cada dispositivo (computador, impressora, etc.) possui para acessar a Internet. A Unicorno n&atilde;o utiliza essas informa&ccedil;&otilde;es para identificar seus visitantes. As &uacute;nicas hip&oacute;teses de divulga&ccedil;&atilde;o e uso das informa&ccedil;&otilde;es de poss&iacute;vel identifica&ccedil;&atilde;o pessoal pela Unicorno ocorrem conforme as circunstancias expressamente descritas abaixo: </p>
<h3>Coleta de Informa&ccedil;&otilde;es de Identifica&ccedil;&atilde;o Pessoal</h3>
<p>Alguns visitantes dos websites da Unicorno optam por interagir com a Unicorno de formas que exigem a coleta de informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal. A quantidade e o tipo de informa&ccedil;&atilde;o coletada pela Unicorno dependem da natureza da intera&ccedil;&atilde;o do visitante com o website. Por exemplo, para a inscri&ccedil;&atilde;o no website da Unicorno, n&oacute;s solicitamos aos visitantes que forne&ccedil;am um nome de usu&aacute;rio e um e-mail. Em cada caso, a Unicorno coleta essas informa&ccedil;&otilde;es apenas na medida em que &eacute;
   necess&aacute;rio ou apropriado para cumprir o prop&oacute;sito de intera&ccedil;&atilde;o do visitante com o website. A Unicorno n&atilde;o divulga as informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal fornecidas por seus usu&aacute;rios, a n&atilde;o ser nas circunst&acirc;ncias abaixo descritas. Al&eacute;m disso, os visitantes do website podem sempre se recusar a fornecer informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal, com a ressalva de que, sem essas informa&ccedil;&otilde;es, o acesso a algumas atividades relacionadas ao website pode ser restrito. </p>
<h3>Dados agregados</h3>
<p>A Unicorno pode coletar dados sobre o comportamento de visitantes em seus websites. Por exemplo, a Unicorno pode monitorar os assuntos mais populares no Unicorno.com.br. A Unicorno pode exibir essas informa&ccedil;&otilde;es publicamente ou fornec&ecirc;-las a terceiros. No entanto, a Unicorno n&atilde;o divulga informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal, a n&atilde;o ser nas formas abaixo descritas. </p>
<h3>Prote&ccedil;&atilde;o de Certas Informa&ccedil;&otilde;es de Identifica&ccedil;&atilde;o Pessoal</h3>
<p>A Unicorno divulga informa&ccedil;&otilde;es de poss&iacute;vel identifica&ccedil;&atilde;o pessoal somente para seus funcion&aacute;rios, contratantes/parceiros e empresas vinculadas que (i) precisam ter conhecimento dessas informa&ccedil;&otilde;es para process&aacute;-las em nome da Unicorno ou para disponibilizar os servi&ccedil;os oferecidos nos websites da Unicorno, e (ii) que concordam expressamente em n&atilde;o divulgar as referidas informa&ccedil;&otilde;es a terceiros.</p>
<p>Alguns desses funcion&aacute;rios, contratantes/parceiros e organiza&ccedil;&otilde;es afiliadas/empresas vinculadas podem estar localizados fora do pais de origem dos visitantes dos websites da Unicorno. Ao utilizar os websites da Unicorno, os usu&aacute;rios concordam em transferir suas informa&ccedil;&otilde;es a essas pessoas/empresas. </p>
<p>Em algumas situa&ccedil;&otilde;es, a Unicorno pode decidir comprar ou vender ativos. Nesses tipos de transa&ccedil;&atilde;o, as informa&ccedil;&otilde;es dos usu&aacute;rios s&atilde;o geralmente um dos ativos comerciais transferidos/negociados. </p>
<p>Ademais, se a Unicorno ou a maior parte da empresa for adquirida, ou na remota possibilidade de sa&iacute;da do mercado ou fal&ecirc;ncia da Unicorno, as informa&ccedil;&otilde;es de seus usu&aacute;rios poder&atilde;o ser um dos ativos transferidos ou adquiridos por terceiros. O usu&aacute;rio reconhece que tais opera&ccedil;&otilde;es podem ocorrer e que qualquer adquirente ou sucessor da Unicorno pode continuar a usar as informa&ccedil;&otilde;es pessoais ou n&atilde;o pessoais, de acordo com os termos definidos na presente pol&iacute;tica de privacidade. Caso contr&aacute;rio, a Unicorno n&atilde;o ceder&aacute;
   ou vender&aacute; a nenhum terceiro as informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal ou de poss&iacute;vel identifica&ccedil;&atilde;o pessoal de seus usu&aacute;rios. </p>
<br/>
<p>Al&eacute;m de seus funcion&aacute;rios, contratantes/parceiros e empresas vinculadas, conforme descrito acima, a Unicorno divulgar&aacute;
   informa&ccedil;&otilde;es de poss&iacute;vel identifica&ccedil;&atilde;o pessoal somente quando exigido por lei, ou quando a Unicorno considerar, de boa-f&eacute;, que a divulga&ccedil;&atilde;o das referidas informa&ccedil;&otilde;es &eacute;
   razoavelmente necess&aacute;ria para a prote&ccedil;&atilde;o de seus direitos e propriedades, de terceiros ou do p&uacute;blico em geral. &nbsp;</p>
<p>Aos usu&aacute;rios registrados na Unicorno, que forneceram seus nomes e endere&ccedil;o de e-mail, a Unicorno poder&aacute;
   enviar e-mails sobre novos recursos do website, para solicitar o feedback, ou apenas para manter seus usu&aacute;rios atualizados sobre os produtos e servi&ccedil;os da Unicorno. Na hip&oacute;tese de o usu&aacute;rio enviar uma solicita&ccedil;&atilde;o a Unicorno (por exemplo, atrav&eacute;s do e-mail de suporte ou das ferramentas de feedback dispon&iacute;veis no website), a Unicorno se reserva o direito de publicar a solicita&ccedil;&atilde;o a fim de facilitar o suporte a outros usu&aacute;rios. </p>
<p>A Unicorno toma todas as medidas razoavelmente necess&aacute;rias para proteger as informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal e de poss&iacute;vel identifica&ccedil;&atilde;o pessoal de seus usu&aacute;rios contra o acesso n&atilde;o autorizado, o uso, a altera&ccedil;&atilde;o ou a destrui&ccedil;&atilde;o das mesmas. </p>
<p></p>
<p>O usu&aacute;rio da Unicorno tamb&eacute;m deve estar ciente de que o envio de informa&ccedil;&otilde;es para &ldquo;salas de chat&rdquo;, &ldquo;f&oacute;runs&rdquo;
   ou para &ldquo;pain&eacute;is de mensagens&rdquo;, tornam p&uacute;blicas as informa&ccedil;&otilde;es enviadas, o que significa que o usu&aacute;rio perde quaisquer direitos de privacidade, que ele poderia ter em rela&ccedil;&atilde;o a elas. Essa forma de divulga&ccedil;&atilde;o de informa&ccedil;&otilde;es pode aumentar as chances de o usu&aacute;rio receber comunica&ccedil;&otilde;es indesejadas. &nbsp;</p>
<h3>Cookies</h3>
<br/>
<p>Cookies s&atilde;o arquivos de Internet que armazenam temporariamente informa&ccedil;&otilde;es sobre o visitante que acessa um website. Por meio dos cookies, o navegador do visitante fornece novas informa&ccedil;&otilde;es a cada acesso ao website. A Unicorno utiliza Cookies para facilitar a identifica&ccedil;&atilde;o e monitoramento de seus visitantes, seu uso nos websites da Unicorno e suas prefer&ecirc;ncias de acesso. Os visitantes da Unicorno que n&atilde;o desejam ter Cookies habilitados em seus computadores devem programar seus navegadores para recusar Cookies, antes de usar os websites da Unicorno. Sem a habilita&ccedil;&atilde;o dos Cookies, certas funcionalidades dos websites da Unicorno podem n&atilde;o funcionar corretamente. </p>
<h3>An&uacute;ncios</h3>
<p>An&uacute;ncios em qualquer website da Unicorno podem ser veiculados para quaisquer usu&aacute;rios pelos parceiros de publicidade da Unicorno, que podem utilizar Cookies. Esses Cookies permitem que o servidor do anunciante reconhe&ccedil;a o computador do usu&aacute;rio a cada vez que eles enviarem um anuncio on-line para compilar informa&ccedil;&otilde;es sobre o usu&aacute;rio ou outras pessoas que usam o computador. Essas informa&ccedil;&otilde;es permitem que as redes de an&uacute;ncios veiculem propagandas direcionadas, que provavelmente ser&atilde;o de maior interesse do usu&aacute;rio. Essa pol&iacute;tica de privacidade abrange o uso de Cookies pela Unicorno, n&atilde;o estando inclu&iacute;dos os Cookies utilizados por quaisquer anunciantes. </p>
<h3>Links para outros sites</h3>
<p>Esta pol&iacute;tica de privacidade aplica-se apenas &agrave;s informa&ccedil;&otilde;es coletadas pela Unicorno. Esta pol&iacute;tica de privacidade n&atilde;o se aplica &agrave;s pr&aacute;ticas de empresas que a Unicorno n&atilde;o possui ou controla, ou funcion&aacute;rios de terceiros, que a Unicorno n&atilde;o supervisiona. Os websites da Unicorno podem conter links para websites de terceiros. Quaisquer informa&ccedil;&otilde;es que o usu&aacute;rio fornecer, ou que for coletada pelos websites de terceiros, podem estar sujeitas as pol&iacute;ticas de privacidade desses websites, se for o caso.&nbsp;A Unicorno recomenda aos seus usu&aacute;rios ler atentamente as pol&iacute;ticas de privacidade de quaisquer websites de terceiros que forem visitados, inclusive por meio de links disponibilizados nos websites da Unicorno. A Unicorno n&atilde;o se responsabiliza pela divulga&ccedil;&atilde;o ou uso indevidos de informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoais que tenham sido fornecidas ou coletadas em websites de terceiros.</p>
<h3>Seguran&ccedil;a</h3>
<p>Todas as informa&ccedil;&otilde;es de n&atilde;o identifica&ccedil;&atilde;o pessoal, de poss&iacute;vel identifica&ccedil;&atilde;o pessoal e de identifica&ccedil;&atilde;o pessoal descritas acima ser&atilde;o armazenadas em servidores de base de dados restritos. </p>
<h3>Escolha/Cancelamento</h3>
<p>Se a Unicorno enviar ao usu&aacute;rio e-mails sobre novos produtos, servi&ccedil;os ou informa&ccedil;&otilde;es, que n&atilde;o tenham sido expressamente solicitadas pelo usu&aacute;rio, a Unicorno enviar&aacute;/disponibilizar&aacute;
   um link/e-mail por meio do qual o usu&aacute;rio poder&aacute; cancelar/bloquear o recebimento de quaisquer notifica&ccedil;&otilde;es do g&ecirc;nero.</p>
<h3>Contatos dos usu&aacute;rios</h3>
<p>Quaisquer informa&ccedil;&otilde;es externas (contatos de e-mail, etc.) que um usu&aacute;rio voluntariamente der acesso a Unicorno, ser&atilde;o usadas apenas para o recurso descrito (pesquisa de amigos, etc.) e n&atilde;o ser&atilde;o armazenadas ou utilizadas com outras finalidades.</p>
<h3>Mudan&ccedil;as na Pol&iacute;tica de Privacidade</h3>
<p>Embora a maioria das altera&ccedil;&otilde;es sejam provavelmente pequenas, a Unicorno poder&aacute; alterar sua pol&iacute;tica de privacidade de tempos em tempos e a seu crit&eacute;rio exclusivo. A Unicorno recomenda que seus usu&aacute;rios e visitantes a verifiquem frequentemente essa p&aacute;gina para quaisquer mudan&ccedil;as em sua pol&iacute;tica de privacidade. O uso continuado desse website pelos usu&aacute;rios e visitantes ap&oacute;s qualquer altera&ccedil;&atilde;o nesta pol&iacute;tica de privacidade constituir&aacute;
   a aceita&ccedil;&atilde;o t&aacute;cita de tais mudan&ccedil;as.</p>
<h3>Contato</h3>
<p>D&uacute;vidas sobre a nossa pol&iacute;tica de privacidade ou nosso website, contate-nos. </p>