<h1 class="page_title_">Termos de Serviço/Uso</h1>
<hr/>
<h3>Aceitação dos Termos de Uso/Serviço</h3>
<p>O propósito desse website, o Unicorno.com.br ("Site"), de propriedade da Unicorno Technologies LLC, é fornecer serviços de publicação
    de conteúdo na Web. Por favor, leia esses termos de serviço/uso ("Termos") atentamente antes de utilizar o Site ou quaisquer serviços
    prestados ou disponibilizados no Site (coletivamente, "Serviços"). Ao utilizar ou acessar os Serviços, você concorda em se submeter a
    todos as condições descritas no presente Termo.  Se você não concordar com todos os termos e condições deste Termo, não use os Serviços
    do Site. Os serviços são acessados e utilizados por você ("Usuário" ou "Você"), sob os seguintes termos e condições:</p>
<h3>Acesso aos Serviços</h3>
<p>Sujeito aos termos e condições desses Termos de Uso/Serviço, a Unicorno Technologies LLC oferece os Serviços, conforme
    descrição mais detalhada no Site, que são selecionados pelo Assinante, exclusivamente para seu uso próprio e não para o uso ou o
    benefício de terceiros. Os Serviços incluem, mas não se limitam a, quaisquer serviços que a Unicorno Technologies LLC execute para o
    Assinante, bem como a oferta de qualquer conteúdo do Site (como definido abaixo). A Unicorno Technologies LLC poderá alterar, suspender
    ou interromper os serviços a qualquer momento, incluindo a disponibilidade de qualquer recurso ou funcionalidade, banco de dados ou conteúdo.
    A Unicorno Technologies LLC também poderá impor limites sobre determinadas funcionalidades e serviços ou restringir o acesso do Assinante a
    parte de ou a todos os Serviços, sem aviso ou responsabilidade. A Unicorno Technologies LLC se reserva o direito de modificar, a qualquer
    tempo e a seu critério, estes Termos de Uso/Serviço, disponibilizando no Site versões revisadas, e sempre que possível, notificando os
    Assinantes das referidas alterações por e-mail, ou pelo próprio Site. O Assinante será responsável por analisar e familiarizar-se com tais
    alterações. O uso dos Serviços pelo Assinante, subsequente às referidas alterações, representa aceitação do Assinante aos Termos de
    Uso/Serviços, bem como as suas condições, conforme as alterações realizadas.</p>
<p>O Assinante pessoa física declara à Unicorno Technologies LLC que tem, no mínimo, 13 (treze) anos de idade. Nenhum indivíduo com idade
    inferior a 13 (treze) anos deve fornecer dados e informações pessoais à Unicorno Technologies LLC (incluindo, por exemplo, nome,
    endereço, número de telefone, e-mail, etc.). O Assinante também declara que está legalmente autorizado a usar os Serviços e acessar
    o Site, sendo de sua exclusiva responsabilidade a seleção e uso dos Serviços e acesso ao Site. O acesso ao conteúdo do Site por
    determinadas pessoas ou em determinados países pode ser ilegal. Se o Assinante ou internauta acessar o Site, ele o fara por sua conta
    e risco, sendo o único responsável pela observância e cumprimento das leis de sua jurisdição.</p>
<p>A Unicorno Technologies LLC empregará todos os esforços razoáveis para garantir que o Site e os Serviços estarão disponíveis vinte e quatro
    horas por dia, sete dias por semana. No entanto, podem ocorrer situações em que o Site e/ou os Serviços serão temporariamente
    interrompidos para manutenção, atualização ou reparação, devido a falhas nas conexões ou nos equipamentos. Nesses casos, a Unicorno
    Technologies LLC adotará todas as medidas possíveis, que estiverem ao seu alcance, para reduzir o período dessas interrupções.</p>
<p>O Assinante concorda que a Unicorno Technologies LLC e/ou o Site não serão responsáveis, de qualquer forma, por qualquer suspensão,
    modificação, interrupção ou falta de disponibilidade do Site, dos Serviços, do Conteúdo do Assinante ou de outros conteúdos.</p>
<p>A Unicorno Technologies LLC se resguarda o direito de criar limitações ao uso e ao armazenamento de conteúdo, a qualquer
    tempo e a seu critério, com ou sem notificação aos Assinantes.</p>
<p>O Assinante é responsável pela obtenção e manutenção de quaisquer equipamentos ou serviços auxiliares necessários a conexão,
    acesso ao Site, ou uso dos Serviços, incluindo, entre outros, modems, hardwares, softwares e serviços de telefonia de
    longa distância ou local. O Assinante é responsável por assegurar que tais serviços equipamentos ou serviços auxiliares
    sejam compatíveis com os Serviços disponibilizados no Site.</p>
<h3>Conteúdo do Site</h3>
<p>O Site e seu conteúdo se destinam exclusivamente ao uso pelos Assinantes da Unicorno Technologies LLC e só podem ser
    utilizados em conformidade com estes Termos de Serviço. Com exceção dos conteúdos postados pelos assinantes (“Conteúdo do Assinante”),
    todos os materiais exibidos ou executados no Site, tais como, textos, gráficos, logotipos, ferramentas, fotografias, imagens,
    ilustrações, códigos fonte ou softwares, áudios e vídeos, animações e temas (conforme definido abaixo), incluindo o código de
    Template da Unicorno Technologies LLC (conforme definido abaixo), os matérias, coletivamente, (“Conteúdo”), são de propriedade da
    Unicorno Technologies LLC e/ou de terceiros e estão protegidos pelas normas internacionais de propriedade intelectual (copyright).
    Todas as marcas registradas, marcas de serviço e nomes comerciais são de propriedade da Unicorno Technologies LLC e/ou de terceiros.
    O Assinante deve respeitar todos os avisos de copyright, direitos autorais, informações e restrições contidas em qualquer
    conteúdo acessado por meio dos Serviços.</p>
<p>O Site é protegido por direitos autorais (copyright) como um trabalho coletivo e/ou uma compilação, em conformidade com as
    convenções internacionais e outras normas de direitos autorais (copyright). Salvo as hipóteses expressamente estabelecidas
    nos presentes termos, o Assinante não pode copiar, modificar, publicar, transmitir, fazer upload, participar na transferência
    ou na venda de, reproduzir (salvo nas hipóteses descritas nesse capitulo), criar trabalhos derivados, distribuir, executar,
    exibir ou em sob qualquer forma explorar, qualquer conteúdo, software, matérias ou Serviços, no todo ou em parte, disponíveis no Site.</p>
<p>O Assinante pode fazer o download ou copiar o Conteúdo, e outros itens exibidos no Site, somente para uso próprio,
    desde que sejam mantidos todos os avisos de direitos autorais e outros avisos contidos em tal Conteúdo. O download,
    cópia ou armazenamento de qualquer Conteúdo, que não seja para uso próprio, é expressamente proibido, se não houver previa
    autorização, por escrito, da Unicorno Technologies LLC, ou do detentor dos direitos autorais, identificado no Conteúdo.
    No caso de o Assinante baixar um software do Site, o software, bem como seus arquivos, imagens incorporadas ou por ele geradas
    e dados (coletivamente, “Software”) serão licenciados para o Assinante pela Unicorno Technologies LLC ou por terceiros
    licenciantes para o uso próprio e não comercial do Assinante, sem que seja transferida qualquer titularidade ou propriedade
    do referido Software.  Ainda que o Assinante possua o Conteúdo do Assinante em que o Software é copiado, a Unicorno Technologies LLC,
    bem como os terceiros licenciantes reservam para si, completa e exclusivamente, a titularidade do Software e de todos os direitos
    de propriedade intelectual dele decorrentes.</p>
<h3>Conteúdo do Assinante</h3>
<p>O Assinante possui todo o Conteúdo do Assinante que decorra de sua contribuição ao Site, mas por meio deste o Assinante concede e
    concorda em conceder a Unicorno Technologies LLC uma licença não exclusiva, mundial, isenta de pagamento de royalties, transferível
    (com o direito de sublicenciar), para uso, cópia, armazenamento em cache, publicação, distribuição, modificação, criação de trabalhos derivados,
    bem como para o armazenamento de tais conteúdos pela Unicorno Technologies LLC, para que sejam oferecidos a terceiros ou a outros Assinantes
    (“Licença de Conteúdo”). Na rescisão dos presentes termos ou ao final da assinatura do Assinante no Site, a Unicorno Technologies LLC
    deverá empregar esforços razoáveis para cessar o uso, bem como remover do Site, o mais rápido possível, o Conteúdo do Assinante. No entanto,
    o Assinante reconhece e concorda que informações de cache ou referências ao Conteúdo do Assinante podem não ser removidas imediatamente.
    O Assinante garante e concorda que tem o direito de ceder a Unicorno Technologies LLC e ao Site os direitos acima mencionados.
    O Assinante garante e concorda que não contribuirá com qualquer conteúdo que (i) infrinja, viole ou de qualquer forma interfira com
    qualquer direito autoral ou marca de terceiros, (ii) revele qualquer segredo comercial, exceto nos casos em que o Assinante for proprietário
    do segredo comercial ou tenha permissão expressa do proprietário para divulgá-lo, (iii) viole qualquer direito de propriedade intelectual,
    de privacidade ou direito de publicidade de terceiros, (iv) seja calunioso, difamatório, abusivo, ameaçador, ofensivo, ou outra de qualquer
    outra forma viole qualquer lei ou direito de terceiros, (v) contenha vírus, “Cavalo de Troia”, “worm”, “time bomb“ ou qualquer outro mecanismo
    de programação que prejudique, interferira, intercepte ou exproprie qualquer sistema de dados ou informações, (vi) que já tenha sido notificado
    pelo Site ou pela Unicorno Technologies LLC como conteúdo indevido, contrário a qualquer uma das hipóteses acima mencionadas. A
    Unicorno Technologies LLC se reserva o direito de, a qualquer tempo, remover qualquer conteúdo do Assinante exibido no Site, suspender
    ou encerrar o acesso ao Site e uso dos Serviços pelo Assinante.</p>
<h3>Restrições</h3>
<p>O Assinante é responsável por todas as suas atividades relacionadas aos Serviços e ao acesso ao Site. Qualquer atividade fraudulenta,
    abusiva ou ilegal ou qualquer uso dos Serviços ou do Conteúdo do Site que viole esses Termos de Serviço poderão ensejar a rescisão
    dos presentes Termos de Serviços e o fim do direito do Assinante de utilizar os Serviços e acessar o Site. O Assinante não pode
    postar ou transmitir qualquer comunicação ou solicitação destinada a obter a senha, dados da conta ou informações privadas de
    qualquer usuário da Unicorno Technologies LLC.</p>
<p>O uso do Site ou dos Serviços para violar a segurança de qualquer rede de computador, quebrar senhas ou códigos de criptografia de
    segurança, transferir ou armazenar material ilegal, incluindo aqueles que sejam considerados ameaçadores ou obscenos, ou que
    envolva qualquer tipo de atividade ilegal é expressamente proibido. Sob nenhuma circunstância o Assinante utilizará o Site ou os
    Serviços para (i) enviar e-mails não solicitados, e-mail em massa, spam ou outros materiais a outros Assinantes do Site ou para
    qualquer outro indivíduo, (ii) assediar, ameaçar, perseguir ou abusar de qualquer pessoa, inclusive outros Assinantes do Site,
    (iii) criar uma identidade falsa ou para fazer-se passar por outra pessoa, ou (iv) postar materiais falsos, imprecisos ou incompletos
    ou para excluir ou revisar qualquer material que não tenha sido postado pelo próprio Assinante.</p>
<h3>Termo de isenção de garantia</h3>
<p>A Unicorno não tem nenhum dever fiduciário perante o Assinante. O Assinante reconhece que a Unicorno não tem controle, nem possui qualquer dever
    de tomar providência sobre (i) quais usuários acessam o Site; (ii) o conteúdo que o Assinante acessa por meio do Site; (iii) quais efeitos o
    Conteúdo do Site pode ter sobre o Assinante; (iv) como o Assinante interpreta ou usa o Conteúdo; ou (v) quais ações o Assinante pode ter
    como resultado de sua exposição ao Conteúdo do Site. A maior parte do Conteúdo do Site é disponibilizada por seus usuários ou Assinantes,
    que são responsáveis por suas postagens. A Unicorno não monitora o Conteúdo disponibilizado no Site pelos Assinantes e não possui qualquer
    responsabilidade sobre tal conteúdo. O Assinante isenta a Unicorno de qualquer responsabilidade. O Site pode conter ou ter links para
    sites que contenham informações e conteúdos que podem ser considerados ofensivos e inapropriados. A Unicorno não faz qualquer declaração
    relacionada a qualquer conteúdo disposto no Site ou acessado por meio do Site, e a Unicorno não será responsável pela precisão desses conteúdos,
    bem como pela observância dos direitos de copyright, legalidade ou decência do material disposto ou acessado por meio do Site.</p>
<p>A Unicorno e o Site empregarão todos os esforços razoáveis para armazenar e preservar o material disponibilizado no Site. No entanto, a
    Unicorno e o Site não são responsáveis, de qualquer forma, pela falha de armazenamento, preservação ou acesso ao Conteúdo do Assinante
    ou outros materiais e arquivos que tenham sido disponibilizados no Site.  Aconselhamos fortemente que os Assinantes adotem as medidas
    necessárias para preservar cópias de qualquer informação, material, conteúdo ou informação que tenham sido postados ou disponibilizados
    no Site. Os Assinantes são exclusivamente responsáveis pelo back-up de seu Conteúdo disponibilizado no Site.</p>
<p>Os Serviços, Conteúdo, Site e qualquer Software são disponibilizados da forma como estão dispostos no Site, sem garantias de qualquer tipo,
    expressas ou implícitas, incluindo, sem limitação, garantias implícitas de comerciabilidade, adequação do conteúdo a um propósito particular
    ou não-violação de qualquer tipo de direito. A Unicorno não faz representações ou garantias de qualquer tipo relacionadas ao Site, aos Serviços,
    incluindo qualquer representação ou garantia de que o uso do Site ou Serviços (a) será oportuno, ininterrupto ou isento de erros ou que
    será operado em combinação com qualquer outro hardware, software ou sistema ou dados, (b) atenderá suas necessidades ou expectativas,
    (c) será livre de erros ou que eventuais defeitos serão corrigidos, (d) será livre de vírus ou outros componentes prejudiciais.</p>
<p>Na máxima extensão permitida pela lei, a Unicorno se isenta de qualquer obrigação ou responsabilidade pela exatidão, confiabilidade,
    disponibilidade, integridade, legalidade ou operabilidade do material ou dos Serviços disponibilizados neste Site. Ao utilizar este Site,
    você reconhece que a Unicorno não é responsável por quaisquer danos resultantes de (i) uso do Site; (ii) download de informações contidas do Site,
    incluindo mas não se limitado a downloads de conteúdo publicado por assinantes; (iii) divulgação não autorizada de imagens, informações ou
    dados que resultem de upload, download ou armazenagem de conteúdo publicado por assinantes; (iv) da incapacidade temporária ou permanente de
    acessar ou recuperar qualquer Conteúdo do Assinante disposto no Site, incluindo, sem limitação, danos causados por vírus, worms, ”Cavalos de Tróia”,
    ou qualquer contaminação semelhante ou programa destrutivo.</p>
<p>Alguns lugares não permitem limitações na duração de uma garantia implícita, portanto as limitações acima podem não se aplicar ao Assinante.</p>
<h3>Sites de Terceiros</h3>
<p>Assinantes do Site podem ter acesso a sites de terceiros na internet por meio do uso de “hypertext” ou outros links presentes no Site Unicorno.
    Sites de terceiros não estão sob a supervisão ou controle da Unicorno Technologies LLC ou do Site Unicorno. Com exceção das hipóteses
    expressamente previstas nesses Termos de Serviço, nem a Unicorno Technologies LLC ou o Site Unicorno representam ou dão garantias, de qualquer forma,
    relacionadas aos sites de terceiros que estejam linkados (ligados) ao Site Unicorno, ou aos produtos ou serviços oferecidos em tais sites
    (que eventualmente sejam endossados no Site Unicorno). A Unicorno Technologies LLC e o Site Unicorno advertem que não possuem qualquer
    responsabilidade pelo conteúdo disponibilizado em sites de terceiros.  Além disso, qualquer representação ou garantia referente à segurança
    de qualquer informação (incluindo, sem limitações, dados de cartão de credito e informações pessoais) que forem solicitadas e fornecidas por
    você a um terceiro (ou site de terceiro) serão de sua responsabilidade. Por meio deste Termos de Uso você renuncia a qualquer direito de
    ação contra o Site ou a Unicorno Technologies LLC no que se refere ao acesso de sites e conteúdo de terceiros.</p>
<h3>Registro e Segurança</h3>
<p>Como condição para utilizar os Serviços, o Assinante deverá se registrar junto a Unicorno e selecionar uma senha e um endereço URL Unicorno.
    O Assinante deverá fornecer a Unicorno dados de registro exatos, completos e atualizados, incluindo o endereço de e-mail do Assinante.
    A não observância da referida condição constituirá uma violação do presente acordo, que pode resultar no cancelamento imediato da conta do
    Assinante. O Assinante não poderá (i) selecionar ou usar como uma URL Unicorno o nome de outra pessoa, com a intenção de se fazer passar por
    essa pessoa; ou (ii) usar como uma URL Unicorno, sem a autorização apropriada, um nome protegido por quaisquer direitos de um terceiro que
    não seja o próprio Assinante. A Unicorno se reserva o direito de recusar o registo de, ou cancelar uma URL Unicorno, a seu critério.
    O Assinante será responsável por manter a confidencialidade de seu usuário e senha no Site, sendo o único responsável por qualquer atividade
    realizada no Site por meio de sua conta Unicorno. Dessa forma, o Assinante concorda em liberar o Site e a Unicorno Technologies LLC de toda
    e qualquer responsabilidade relativa a tais atividades. O Assinante concorda em notificar a Unicorno Technologies LLC imediatamente sobre
    qualquer suspeita de perda, roubo ou uso não autorizado da sua conta ou a senha no Site. O Site adotará todas as medidas razoáveis para
    garantir a segurança das informações contidas no Site. No entanto, a Unicorno Technologies LLC se isenta de toda e qualquer responsabilidade
    pelo acesso dessas informações por pessoas ou empresas não autorizadas.</p>
<h3>Indenizacão</h3>
<p>O Assinante irá indenizar a Unicorno, seus diretores, oficiais e funcionários, incluindo custos e advocatícios honorários,
    de qualquer reivindicação ou exigência feita por terceiros devido a ou resultantes do acesso do Assinante ao Site, do uso dos Serviços,
    da violação deste contrato pelo Assinante, ou por qualquer terceiro usando a conta do Assinante, de qualquer propriedade intelectual
    ou outro direito de qualquer pessoa ou entidade.</p>
<h3>Limitação de responsabilidade</h3>
<p>Em nenhuma hipótese, a Unicorno Technologies LLC, seus diretores, acionistas, empregados ou membros serão responsabilizados pelo Site
    ou pelos Serviços, em decorrência de (i) danos de qualquer tipo, (ii) danos por perda de uso, lucros, dados, imagens, Conteúdo do
    Assinante ou outros intangíveis, (iii) danos de uso não autorizado, por não desempenho do Site, erros ou omissões, ou (iv) danos
    relacionados a exibição ou download de conteúdo. A responsabilidade da Unicorno Technologies LLC e do Site, nos termos desse acordo,
    se limita a R$ 1.200,00 (mil e duzentos reais). Alguns países não permitem a exclusão ou limitação de responsabilidade, portanto as
    limitações e exclusões acima podem não se aplicar ao Assinante.</p>
<h3>Taxas e pagamento</h3>
<p>O pagamento de taxas pode ser necessário para alguns dos Serviços disponibilizados no Site. Todas as taxas são definidas em dólares americanos.
    O Assinante deverá pagar todas as taxas aplicáveis, conforme descrito nas informações dos Serviços selecionados pelo Assinante, e
    quaisquer outras taxas relacionadas ou adicionais. As taxas pagas não são reembolsáveis, salvo disposição em contrário disponível no Site.</p>
<p>Todos os Serviços e bens virtuais pagos serão disponibilizados sem qualquer tipo de garantia. A Unicorno poderá modificar e/ou eliminar
    esses serviços pagos, conforme sua discrição. O Assinante está ciente e concorda que o pagamento por bens virtuais lhe garante uma
    licença de uso limitada, conforme especificado no Site.</p>
<p>A Unicorno poderá alterar seus preços a qualquer tempo, mas notificará os Assinantes por e-mail acerca de quaisquer alterações,
    além de disponibilizar no Site os novos preços que serão adotados. Se o Assinante não estiver de acordo com os novos preços adotados,
    ele poderá cancelar os Serviços contratados antes que a alteração de preços produza efeitos.</p>
<h3>Rescisão</h3>
<p>Qualquer uma das partes pode rescindir os presentes Termos de Uso/Serviços, mediante notificação à outra parte, por qualquer meio.
    A Unicorno Technologies LLC poderá rescindir ou suspender qualquer ou todos os Serviços e acesso ao Site imediatamente, sem aviso
    prévio ou responsabilidade, se o Assinante violar qualquer termo ou condição desses Termos de Uso/Serviços. Após o encerramento
    da conta do Assinante, os direitos do Assinante de utilizar os Serviços, acessar o Site ou qualquer conteúdo cessarão imediatamente.
    Todas as disposições desses Termos de Uso/Serviços que, por sua natureza, permaneçam após a rescisão, deverão ser observadas, incluindo,
    sem limitação, as disposições de propriedade, renúncias de garantia e limitações de responsabilidade.</p>
<p>A rescisão e o término do acesso e do uso do Site pelo Assinante não limitam sua responsabilidade, nem isentam o Assinante do cumprimento
    de quaisquer obrigações decorrentes de sua assinatura e do uso do Site, que tenham surgido antes da rescisão.</p>
<h3>Privacidade</h3>
<p>Recomendamos que os Assinantes revejam periodicamente nossa Política de Privacidade, que estabelece as condições de uso das informações pessoais
    dos usuários do Site. Ao se tonar Assinante e utilizar o Site, o Assinante concorda em se submeter às referidas condições.</p>
<h3>Disposições diversas</h3>
<p>Esses Termos de Uso/Serviços (incluindo a Política de Privacidade), bem como suas modificações periódicas, constituem o
    acordo integral entre você, o Site e a Unicorno Technologies LLC, em relação ao seu objeto. Esses Termos de Uso/Serviços
    substituem todos os entendimentos, acordos ou contratos anteriores, escritos ou verbalizados, em relação ao objeto desses Termos de Uso/Serviços.</p>
<p>O fato de qualquer uma das partes deixar de exercer, total ou parcialmente, e em qualquer aspecto, qualquer direito previsto
    nesses Termos de Uso/Serviços não será considerado uma renúncia de quaisquer outros direitos previstos nesses Termos de Uso/Serviços.</p>
<p>Na execução de suas obrigações previstas nesses Termos de Uso/Serviços, a Unicorno Technologies LLC não será responsável por
    qualquer falha que decorra de causas que não estejam sob seu controle, tais como falhas mecânicas, eletrônicas, degradação
    ou falha de comunicação, entre outras.</p>
<p>Se qualquer disposição desses Termos de Uso/Serviços for considerava inválida ou não puder ser aplicada, tal disposição deverá ser
    eliminada ou limitada na menor extensão necessária, de forma a garantir que esses Termos de Uso/Serviços permaneçam em pleno vigor,
    sendo aplicado integralmente e produzindo plenos efeitos.</p>
<p>As obrigações assumidas pelo Assinante nesses Termos de Uso/Serviços são intransferíveis e não podem ser sublicenciadas, exceto
    com autorização prévia, por escrito, da Unicorno Technologies LLC. A Unicorno Technologies LLC poderá ceder sua posição nos
    presentes Termos de Uso/Serviços, no todo ou em parte, sem o consentimento dos Assinantes.</p>
<p>Esses Termos de Uso/Serviços serão regidos e interpretados de acordo com as leis do estado americano de Delaware. Por meio desses
    Termos de Uso/Serviços nenhuma parceria ou vínculo empregatício é criado entre a Unicorno Technologies LLC e o Assinante, de
    forma que o Assinante não possui qualquer autoridade para vincular a Unicorno Technologies LLC sob qualquer aspecto.</p>
<h3>Notificação e Procedimento para reclamações por violação de direitos autorais ou de outros direitos de propriedade intelectual</h3>
<p>A Unicorno Technologies LLC respeita os direitos de propriedade intelectual de terceiros e prioriza a proteção aos direitos autorais
    e aos demais direitos de propriedade intelectual. Quaisquer atividades que violem os referidos direitos não serão toleradas no Site.</p>
<p>A política de direitos de propriedade intelectual da Unicorno é de (a) remover materiais que infrinjam quaisquer direitos de
    propriedade intelectual de terceiros, disponibilizados por meio dos Serviços do site, a partir da notificação de boa-fé do
    detentor dos referidos direitos à Unicorno, e (b) remover qualquer Conteúdo do Assinante disponibilizado por meio dos
    Serviços do site por Assinante com histórico de infração de direitos de propriedade intelectual. A Unicorno considera um
    Assinante com histórico de infração de direitos de propriedade intelectual qualquer usuário, cujos conteúdos disponibilizados
    tenham sido objeto de mais de duas notificações de infração de direitos de propriedade intelectual de terceiros. No entanto, a
    Unicorno se reserva o direito de encerrar a conta de qualquer Assinante após o recebimento de uma única notificação de infração
    de direitos de terceiros ou por sua própria determinação.</p>
<p>Informações de contato do agente responsável pelas notificações de Infração.</p>
<p>Via email: <a href="tel:contato@unicorno.com.br">contato@unicorno.com.br</a></p>
<p>Contra-notificacao</p>
<p>Se você receber uma notificação da Unicorno de que o material disponibilizado por você ou através dos Serviços tem sido objeto
    de uma notificação de infração, você terá o direito de enviar a Unicorno uma "contra notificação". Para ser valida, a contra
    notificação deve ser apresentada por escrito ao agente responsável da Unicorno, por meio de uma das vias acima identificadas
    e deve incluir, obrigatoriamente, as seguintes informações:</p>
<ul>
    <li>Uma assinatura física ou eletrônica do Assinante,</li>
    <li>Identificação do material que foi removido ou cujo acesso tenha sido desativado, bem como a localização em que o
        material era disponibilizado antes de ser removido ou seu acesso ser desativado,</li>
    <li>Uma declaração, sob pena de perjúrio, de que o Assinante acredita de boa-fé que o material tenha sido removido ou desativado
        por um erro ou por uma falha de identificação do material que deveria ter sido removido ou desativado,</li>
    <li>O nome do assinante, endereco, número de telephone e uma declaracao de que o Assinante concorda com a jurisdição
        aplicável no local de abertura da empresa Unicorno.</li>
</ul>
<p>Recomendamos que você consulte seu próprio advogado para confirmar a sua obrigação de fornecer uma contra-notificação de infração.</p>
<p>Procedimento após o recebimento da Contra-Notificação</p>
<ul>
    <li>Após o recebimento de uma Contra Notificação, uma cópia da mesma sera imediatamente enviada pela Unicorno ao Assinante que
        inicialmente apresentou a Notificacao de Infracão. A Unicorno substituirá o material previamente removido ou reativará a
        possibilidade de acesso ao Conteúdo objeto de discussão num prazo de 10 (dez) a 14 (catorze) dias úteis, contados a
        partir do recebimento da Contra Notificação.</li>
</ul>
<p>A Uniconro não adotará as medidas acima previstas se for notificada de que o Assinante que apresentou a Notificacao de infracao
    moveu acao judicial para garantir a proteçao dos direitos de propriedade intelectual de sua propriedade ou sob sua responsabilidade
    relacionados ao material objeto da Notificacão de Infração.</p>
<p>Notificaçoes de infração ou Contra Notificacao Falsas</p>
<ul>
    <li>A Unicorno se reserve o direito de pleitear indenizações de qualquer parte que apresentar uma Notificação de Infração ou
        Contra Notificação de má-fé, ou declarações intencionalmente falsas. Além disso, a Unicorno também se reserva o direito
        de pleitear indenizações nos casos em que o material removido ou acesso desabilitado decorram de engano ou falha de
        indentificação por parte do Assinante que formulou a Notificação de Infração. Nesse caso, o Assinante será responsável
        por quaisquer danos, incluindo custos e honorarios advocaticios incorridos pelo alegado infrator, ou por qualquer proprietário
        dos direitos autorais envolvidos (ou resposável pelos mesmos).</li>
</ul>
<p>Para evitar quaisquer dúvidas, somente as notificações enviadas nos termos da lei e dos procedimentos acima descritos, enviadas para o
    endereço <a href="tel:contato@unicorno.com.br">contato@unicorno.com.br</a>, serão consideradas pela equipe Unicorno. Quaisquer outros comentários, elogios, reclamações ou
    sugestões sobre o Site Unicorno ou qualquer outro assunto devem ser enviados para <a href="tel:contato@unicorno.com.br">contato@unicorno.com.br</a>.</p>