<!--FOOTER-->
<footer class="footer_">
    <div class="row">
        <div class="medium-6 column">
            <ul class="inline-list">
                <li><a href="#">Term</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy & Safety</a></li>
                <li><a href="#">Send feedback</a></li>
            </ul>
        </div>
        <div class="medium-6 column">
            <p class="copy_ small-only-text-center">&copy; 2015 Unicorno.com. All rights reserved.</p>
        </div>
    </div>
</footer>